<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescendo</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="../Template/Template.css" />
</head>
<body>
  <div class="navbar">
    <img  class="sjeclogo"
          src="Images\SJEC logo with white letter.png" 
          alt="SJEC LOGO">
    <div class = "Rectangle"></div>
    <img  class= "cresclogo"
          src="Images\CrescendoTrans.png" 
          alt="">
    <div class = "nav_head">
      <a href="../Home/Home.html">
        <h1>Home</h1>
      </a>
      <a href="../Events/Events.html">
        <h1>Events</h1>
      </a>
      <a href="../Gallery/Gallery.html">
        <h1>Gallery</h1>
      </a>
      <a href="../About/Template1.html">
        <h1>About</h1>
      </a>
      <a href="../Contact/Contact.html">
        <h1>Contact</h1>
      </a>
      <a href="../Login/Login.html">
        <div class="login">
          <h1>Login</h1>
        </div>
      </a>
    </div>
  </div>
</body>
</html>