<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescendo</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="static/Create/Create.css" />
</head>
<body>
  <div class="navbar">
    <img  class="sjeclogo"
          src="static\Home\Images\SJEC logo with white letter.png" 
          alt="SJEC LOGO">
    <div class = "Rectangle"></div>
    <img  class= "cresclogo"
          src="static\Home\Images\CrescendoTrans.png" 
          alt="">
  </div>
    <form action="/Create" method="post">
        <div class="UB">
            <div class="UBB">
              <input type="text" name="usn" id="" placeholder="USN" required>
            </div>
            <div class="UD">
              <input type="text" name="user_id" id="" placeholder="User ID" required>
            </div>
          </div>
          <div class="UB2">
            <div class="UBB2">
              <input type="text" name="name" id="" placeholder="Name" required>
            </div>
            <div class="UD2">
              <input type="text" name="password" id="" placeholder="Password" required>
            </div>
          </div>
          <div class="UB3">
            <div class="UBB3">
              <input type="text" name="phone" id="" placeholder="Phone" required>
            </div>
            <div class="UD3">
              <input type="text" name="email" id="" placeholder="Email" required>
            </div>
          </div>
          <div class="UB3">
            <input type="text" name="category" id="" placeholder="Category" required>
          </div>
            <button class="Submit">
              Submit
          </button>
          </a>
    </form>
</body>
</html>