<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescendo</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="static/Home/Home.css" />
</head>
<body>
  <div class="navbar">
    <img  class="sjeclogo"
          src="static\Home\Images\SJEC logo with white letter.png" 
          alt="SJEC LOGO">
    <div class = "Rectangle"></div>
    <img  class= "cresclogo"
          src="static\Home\Images\CrescendoTrans.png" 
          alt="">
    <div class = "nav_head">
      <a href="../Home/Home.html">
        <h1>Home</h1>
      </a>
      <a href="../Events/Events.html">
        <h1>Events</h1>
      </a>
      <a href="../Gallery/Gallery.html">
        <h1>Gallery</h1>
      </a>
      <a href="templates/About.html">
        <h1>About</h1>
      </a>
      <a href="../Contact/Contact.html">
        <h1>Contact</h1>
      </a>
      <a href="../Login/Login.html">
        <div class="login">
          <h1>Login</h1>
        </div>
      </a>
    </div>
  </div>
    <div class="Cresestd">
      <h1>Crescendo</h1>
      <h2>ESTD.</h2>
      <h3>2022</h3>
    </div>
  <div class="Content1">
    <p>
          Crescendo - The Music Club of Sjec, is the podium of opportunities, 
    </p>
    <p>
      dedicated to explore and showcase the, truly mesmerizing musical talents of
    </p>
    <p>
      St. Joseph Engineering College in all it's glory, by the means of, On-stage performances,
    </p>
    <p>
      On-stage performances, exciting musical activities and much more.
    </p>
    <div class="Inter">
      <p>
        Interested to join? Click the button for more information.
      </p>
    </div>
    <div class="GS">
      <h1 href="#home">Get Started</h1>
    </div>
  </div>
</body>
</html>